{% extends "index.html" %}

{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{% block contenido %}
    <section>
        <h1>Agrega un nuevo producto 🛍️</h1>

        <section>
            <form action="/agregarProducto" method="post" enctype="multipart/form-data">
                <div>
                    <label for="txtCodigo">Ingresa el código</label><br>
                    <input name="txtCodigo" class="bg-gray-200 p-2 rounded-lg" id="txtCodigo" type="text" placeholder="Código"
                    value="{{producto['codigo']}}">
                </div>
                <div>
                    <label for="txtNombre">Ingresa el nombre</label><br>
                    <input name="txtNombre" class="bg-gray-200 p-2 rounded-lg" id="txtNombre" type="text" placeholder="Nombre"
                    value="{{producto['nombre']}}">
                </div>
                <div>
                    <label for="txtPrecio">Ingresa el precio</label><br>
                    <input name="txtPrecio" class="bg-gray-200 p-2 rounded-lg" id="txtPrecio" type="text" placeholder="Precio"
                    value="{{producto['precio']}}">
                </div>
                <div>
                    <label for="cbCategoria">Selecciona la categoría</label><br>
                    <select name="cbCategoria" id="cbCategoria" value="{{producto['categoria']}}">
                        <option value="">Selecciona</option>
                        <option value="Electrodomestico">Electrodomestico</option>
                        <option value="Ropa">Ropa</option>
                        <option value="Calzado">Calzado></option>
                    </select>
                </div>
                <div>
                    <label for="fileFoto">Ingresa las fotos</label><br>
                    <input name="fileFoto" class="bg-gray-200 p-2 rounded-lg" id="fileFoto" type="file" placeholder="Fotos"
                    value="{{producto['foto']}}">
                </div>
                <div>
                    <button class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enviar</button>
                    <button class="mt-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        Cancelar
                    </button>
                </div>
            </form>
            <h3>{{mensaje}}</h3>
        </section>
    </section>
{% endblock %}

{% block piepagina %}
    {% include "piePagina.html" %}
{% endblock %}