<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar 🔄</title>

    <script src="../static/js/app.js"></script>

</head>
<body>
    <section></section>
        <h1>Actualizar producto</h1>

        <section>
            <form action="/actualizar" method="post" enctype="multipart/form-data">
                <div>
                    <label for="txtCodigo">Código</label><br>
                    <input name="txtCodigo" class="bg-gray-200 p-2 rounded-lg" id="txtCodigo" type="text" placeholder="Código"
                    value="{{producto['codigo']}}">
                </div>
                <div>
                    <label for="txtNombre">Ingresa el nombre</label><br>
                    <input name="txtNombre" class="bg-gray-200 p-2 rounded-lg" id="txtNombre" type="text" placeholder="Nombre"
                    value="{{producto['nombre']}}">
                </div>
                <div>
                    <label for="txtPrecio">Ingresa el precio</label><br>
                    <input name="txtPrecio" class="bg-gray-200 p-2 rounded-lg" id="txtPrecio" type="text" placeholder="Precio"
                    value="{{producto['precio']}}">
                </div>
                <div>
                    <label for="cbCategoria">Selecciona la categoría</label><br>
                    <select name="cbCategoria" id="cbCategoria" value="{{producto['categoria']}}">
                        <option value="">Selecciona</option>
                        <option value="Electrodomestico">Electrodomestico</option>
                        <option value="Ropa">Ropa</option>
                        <option value="Calzado">Calzado></option>
                    </select>
                </div>
                <div>
                    <label for="fileFoto">Ingresa las fotos</label><br>
                    <input required onchange="visualizarFoto(this)" name="fileFoto" class="bg-gray-200 p-2 rounded-lg" id="fileFoto" type="file" placeholder="Fotos"
                    value="{{producto['foto']}}">
                </div>
                <div>
                    <img id="imagenProducto" src="../static/img/{{producto['foto']}}" height="100" alt="">
                </div>

                <!-- #Campo oculto para guardar el id del producto -->
                <input type="hidden" name="id" id="id" value="{{producto['_id']}}">
                <div>
                    <button class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enviar</button>
                    <button class="mt-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        Cancelar
                    </button>
                </div>
            </form>
            <script>
                document.getElementById("cbCategoria").value = "{{producto['categoria']}}";
            </script>
            <h3>{{mensaje}}</h3>
        </section>
    </section>
</body>
</html>