<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon page -->
    <link rel="shortcut icon" href="../static/img/avatar-logo.png" type="image/x-icon">
    <title>Tienda Johan 🛒</title>
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/e336c2441f.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <header class="w-screen">
            {% block encabezado %}
            {% endblock %}
        </header>

        <nav class="w-screen">
            {% block menu %}
            {% endblock %}
        </nav>

        <section class="w-screen">
            {% block contenido %}
            {% endblock %}
        </section>

        <footer class="w-screen">
            {% block piepagina %}
            {% endblock %}
        </footer>
    </div>
</body>
</html>